<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>choose course here</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
<style type="text/css">
div
{
     height:150px;
     width:700px;
     border:2px inset blue;
     margin-left:100px;
     margin-top:30px;
     text-align:center;
     padding-top:50px;
   
     
}
#a
{
   text-align:center;
   color:yellow;
   
}
*
{
 background-color:pink;
}
a:hover
{
    background-color:black;
    font-size:20px;
    
}
</style>
<meta charset="ISO-8859-1">
<title>choose course</title>
</head>
<body>
<h3 id=a><u style="color:green">choose course here</u></h3>
<div class="d-grid gap-2 col-6 mx-auto">
<form action="/llll" method="post">
<label>courseName:</label>
<input type="text" name="courseName"><br><br>
<input type="submit" value="getCourses">
 </form>

  
  
</div>


</body>
</html>
</body>
</html>