<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table class="table table-success table-striped table-bordered w-50" border="1">
<thead>
<tr>
<th scope="col">courseID</th>
<th scope="col">courseName</th>
<th scope="col">coursePrice</th>


</tr>

</thead>
<tbody>
<tr >
<td th:text="${courseList.courseID}"></td>
<td th:text="${courseList.courseName}"></td>
<td th:text="${courseList.coursePrice}"></td>

</tr>
</tbody>
</table>

</body>


</html>